magacin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Magacin">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Artikal" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Naziv">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="NazivRestriction">
                      <xs:attribute name="sifra" type="xs:ID" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="DatumIzarde">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Dan">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:minInclusive value="1"/>
                          <xs:maxInclusive value="31"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Mesec">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:minInclusive value="1"/>
                          <xs:maxInclusive value="12"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Godina" type="xs:positiveInteger" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cena">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:positiveInteger">
                      <xs:attribute default="dinar" name="tip">
                        <xs:simpleType>
                          <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="dinar" />
                            <xs:enumeration value="evro" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="KompanijaProdavca">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ImeKompanije" type="xs:string" />
                    <xs:element name="Adresa" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Email" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="EmailRestriction">
                      <xs:attribute name="tip" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="privatni" />
                            <xs:enumeration value="sluzbeni" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="NazivRestriction">
    <xs:restriction base="xs:string">
      <xs:minLength value="3"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EmailRestriction">
    <xs:restriction base="xs:string">
      <xs:pattern value="(?=.*\d)(?=.*[A-Z]).{2,20}@\w{4,8}.com"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>